<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel='stylesheet' href="/styles/main.css">
    <link rel='stylesheet' href="/styles/nav.css">
    <title>Home</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <div class="new-post-container">
        <img class="new-post-icon" src="/new-post.png" alt="new-post ico">        
        <a href="/newpost" class="new-post-link">Create New Post</a>
    </div>
    <% if(posts.length > 0) { %>
        <% for (let post of posts) { %>
        <div class="post-container">
            <a class="title-text" href="/viewpost/<%= post._id %>"><%= post.title %></a>
            <a class="short-body-text" href="/"><%= post.body.slice(0, 70) %>....</a>
            <div class="meta-container">
                <img class="upvotes-icon" src="/heart-neutral-up.png" alt="upvote ico">
                <p class="meta-text"><%= post.meta.upvotes %> </p>

                <img class="downvotes-icon" src="/heart-neutral-down.png" alt="downvote ico">
                <p class="meta-text"><%= post.meta.downvotes %> </p>

                <img class="comments-icon" src="/comment.png" alt="comment ico">
                <p class="meta-text"><%= post.comments.length %> Comments</p>
            </div>
        </div>
        <% } %>
    <% } %>
</body>
</html>